@import './../../../common//styles//mixins';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  min-height: var(--header-height);

  &__leftSection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__rightSection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__exitButton {
    @include SimpleButton;
  }
} 