@import "./../../app/global";


@mixin hide-on-mobile($display-mobile: none, $display-desktop: block) {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    display: $display-mobile;
  }
  @media #{$media-tablet-portrait-min} {
    display: $display-desktop;
  }
}

@mixin show-on-mobile($display-mobile: block, $display-desktop: none) {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    display: $display-mobile;
  }
  @media #{$media-tablet-portrait-min} {
    display: $display-desktop;
  }
}

@mixin SimpleButton {
  background-color: var(--red-9);
  border-radius: 6px;
  padding: 0.5em;
  align-items: center;
  gap: 0.5em;
  text-wrap: nowrap;
  display: flex;
  &:hover {
    background-color: var(--red-7);
  }
}
