@import "./../../app/global";

@mixin hide-on-mobile($display-mobile: none, $display-desktop: block) {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    display: $display-mobile;
  }
  @media #{$media-tablet-portrait-min} {
    display: $display-desktop;
  }
}

@mixin show-on-mobile {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    display: block;
  }
  @media #{$media-tablet-portrait-min} {
    display: none;
  }
}

