@import "./../../app/global";

.LogoContainer {
  cursor: pointer;
  line-height: 1;

  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    position: fixed;
    width: 155px;
    height: 55px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
