.AuthLayout {
  &__Flex {
    min-height: 100vh;
  }
  &__Card {
     box-shadow: inset var(--shadow-3)

  }
  &__TextFieldRoot {
    &:has(input[data-isvalid="false"]) {
      --text-field-focus-color: red;
      --text-field-selection-color: red;
      box-shadow: inset 0 0 0 var(--text-field-border-width) var(--red-9);
    }
  }
}
