@import "./../../../common//styles//mixins";

.NavigationMenuTrigger {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &[data-state="open"] {
      max-width: 315px;
      position: fixed;
      z-index: 200;
      top: 0;
      color: var(--yellow-12);
      font-weight: bold;
      text-align: center;
    }
  }
}

.NavigationMenuTrigger {
  @media #{$media-tablet-portrait-min} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    cursor: pointer;
  }
}

.NavigationMenuContent {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
  }
  @media #{$media-tablet-portrait-min} {
    left: 0;
    width: 100%;
    animation-duration: 250ms;
    animation-timing-function: ease;
    width: auto;
  }
  &__Inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: .5em;
  }
}

.NavigationMenuContent[data-motion="from-start"] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion="from-end"] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion="to-start"] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion="to-end"] {
  animation-name: exitToRight;
}

.ListItem {
  @media #{$media-tablet-portrait-min} {
    display: block;
    outline: none;
    text-decoration: none;

    user-select: none;
    padding: 6px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 1;
  }

  width: 100%;
  padding: 12px;
}

.ListItemLink {
  text-decoration: none;
  color: var(--gray-12);
}
.ListItemLink:focus {
  color: yellow;
}
.ListItemLink:hover {
  color: var(--yellow-12);
}

.ListItemText {
  @media #{$media-tablet-portrait-min} {
    color: #000000;
    line-height: 1.4;
    font-weight: initial;
    white-space: nowrap;

  }
  &:hover {
    color: var(--red-8);
  }
}

.HideOnMobile {
  @include hide-on-mobile;
}

.ItemAsImageBlock {
  height: 100%;
  position: relative;
}

// animationos

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}
