@import "./../../app//global";

.AppHeaderContainer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    &[data-menu-is-open="true"] {
      & .Aside {
        left: 0;
      }
    }
  }
}
.BackDrop {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    overflow: hidden;
    z-index: 105;
  }
}
.AppHeader {
  display: flex;
  justify-content: center;
  background-color: var(--gray-2);
  min-height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  position: relative;
  z-index: 110;
}

.HamburgerIconButton {
  @media #{$media-tablet-portrait-min} {
    display: none;
  }
}

.LogoContainer {
  line-height: 1;

  @media #{$media-tablet-portrait-min} {
    order: 1;
    margin-inline-start: auto;
  }
}

.Aside {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    position: fixed;
    left: -315px;
    bottom: 0;
    top: 0;
    width: 100%;
    max-width: 315px;
    background-color: var(--gray-2);
    z-index: 110;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 1s;
  }

  @media #{$media-tablet-portrait-min} {
    display: flex;
    align-items: center;
    padding: 0 1em;
  }
}

.NavigationMenuRoot {
  @media #{$media-tablet-portrait-min} {
    position: relative;
    display: flex;
    z-index: 1;
    height: 100%;
  }
}

.NavigationMenuList {
  @media #{$media-tablet-portrait-min} {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 4px;
    border-radius: 6px;
    list-style: none;
    margin: 0;
  }
}

.List {
  @media #{$media-tablet-portrait-min} {
    display: grid;
    padding: 1em;
    margin: 0;
    column-gap: 10px;
    list-style: none;
    &__One {
      width: 500px;
      grid-template-columns: repeat(3, 1fr);
    }
    &__Two {
      width: 600px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.CaretDown {
  position: relative;
  transition: transform 250ms ease;
  color: var(--yellow-12);
  font-weight: bold;
  @media #{$media-tablet-portrait-min} {
    display: none;
  }
}
[data-state="open"] > .CaretDown {
  transform: rotate(-180deg);
}

.NavigationMenuIndicator {
  @media #{$media-tablet-portrait-min} {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 10px;
    top: 100%;
    overflow: hidden;
    z-index: 1;
    transition:
      width,
      transform 250ms ease;
  }
}
.NavigationMenuIndicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  @media #{$media-start-min} and #{$media-tablet-portrait-max} {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--gray-2);
  }
  @media #{$media-tablet-portrait-min} {
    position: relative;
    transform-origin: top center;
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    box-shadow:
      hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    height: var(--radix-navigation-menu-viewport-height);
    transition:
      width,
      height,
      300ms ease;
  }
}
.NavigationMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}




.ViewportPosition {
  @media #{$media-tablet-portrait-min} {
    position: absolute;
    display: flex;
    // width: 100%;
    top: 100%;
    left: 0;
    perspective: 2000px;
  }
}

.LoaderContainer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.Arrow {
  @media #{$media-tablet-portrait-min} {
    position: relative;
    top: 70%;
    background-color: white;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top-left-radius: 2px;
  }
}


@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
