.PublishAdProfessionalsPage {
  &__Container {
    max-width: 800px;
    margin: 2rem auto;
  }

  &__Card {
    padding: 2rem;
    box-shadow: inset var(--shadow-4);
    --card-background-color: var(--hero-card-background-color);
  }
}
